<button class="lookUpTickets" title="Check our tickets"
        (click)="getTickets()">Buy tickets</button>

<ng-container *ngIf="show">
  <div class="ticketClass">
    <div>
      <label>What kind of ticket would you like:</label>
      <div>
        <select (change)="getTickets($event.target.value)">
          <option value="0">--All--</option>
          <option *ngFor="let ticketName of ticketNames" value={{ticketName.ticket_type}}>
            {{ticketName.ticket_type}} : Price: ${{ticketName.ticket_price}}
          </option>
        </select>
        <button class="lookUpTickets" (click)="purchaseTickets()">BUY</button>
      </div>
    </div>
  </div>
</ng-container>

